@charset "ISO-8859-1";
html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}

.bottom-footer {
   position:absolute;
   bottom:0;
   width:100%;
   background-color: #333;
   height:60px;
   white-space: nowrap;
}

.bottom-footer .container-fluid
{
	position: relative;
	top: 50%;
}

.bottom-footer .container-fluid .row .col-sm-4 
{
	text-align: center;
}

.prices {
	background-color:white;
}
.quotes {
	background-color:white;
}

.queryName {
	font-size: 2em;
	font-weight: bold;
}

.lastPrice {
	font-size: 1.5em;
	font-weight: bold;
}

.positive {
	color: green;
}

.negative {
	color: red;
}

.neutral {
	color: black;
}

.details {
	font-size: 0.8em;
	font-style: italic;
}

.moreinfo {
	font-size: 1.2em;
}