@charset "ISO-8859-1";
html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}

.bottom-footer {
   position:absolute;
   bottom:0;
   width:100%;
   background-color: #333;
   height:60px;
   white-space: nowrap;
}

.bottom-footer .container-fluid
{
	position: relative;
	top: 50%;
}

.bottom-footer .container-fluid .row .col-sm-4 
{
	text-align: center;
}







